* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
main {
    width: 100%;
    height: 100%;
}

form {
    position: absolute;
    top: 5%;
    left: 50%;

    transform: translate(-50%, 5%);
}

.table_result {
    display: grid;
    position: relative;
    top: 25%;
    grid-template-columns: repeat(2, 1fr);
}

.table_result article {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;

    text-align: center;
}

.table_result .section_name {
    text-align: center;
    grid-column: 1 / 3;
}

.table_result .fixed_amount {
    grid-column: 2 / 3;
}

.table_result .variable_amount {
    grid-column: 2 / 3;
}

.table_result .price_result {
    grid-column: 2 / 3;
}


